# abaikan semua
*

# izinkan folder project Unity yang diperlukan
!Assets/
!Assets/**

!Packages/
!Packages/**

!ProjectSettings/
!ProjectSettings/**

!Documentation/
!Documentation/**

# izinkan file gitignore
!.gitignore